
@{
  ViewBag.Title = "testgroup";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="height: 113px;"></div>

<h1>test</h1>
<button type="button" id="join">join</button>
<button type="button" id="send">send</button>

<div id="display"></div>


@section foot{


}

