@using fyptest.Models
@model AdminApprovalVM
@{
  ViewBag.Title = "ApprovalDetail";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="height: 113px;"></div>
<h2>ApprovalDetail</h2>

@Model.email
