.info:not(:empty) {
  position: absolute; /*use to pop up and not lefta column to display the conten and the content will informn of the header in layout page*/
  background: #666;
  color: #fff;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px 20px;
  max-width: 500px;
  left: 50%;
  transform: translate(-50%);
  top: 200px; /*the content will above 100%*/
  opacity: 0;
  animation: fade 3s linear 0s 1 normal;
}

@keyframes fade {

  0% {
    top: -100px;
    opacity: 0;
  }

  10% {
    top: 100px;
    opacity: 1;
  }

  90% {
    top: 100px;
    opacity: 1;
  }

  100% {
    top: -100px;
    opacity: 0;
  }
}
