
@{
  ViewBag.Title = "ActivateAccount";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Raw(ViewBag.MetaRefresh)

<h1>If the website failed to auto redirect, please click <a href="~/Home/Index">here</a></h1>
<h2>@ViewBag.message</h2>

